@use '../scss/colors' as *;
@use '../scss/components' as *;

@media (min-width: 767px) {
	.header {
		&-heading {
			margin-top: 2em;
			font-size: 2.4rem;
			width: 80%;
		}
		&-logo {
			height: 450px;
			width: 450px;
		}
		&__btn {
			padding: 1em 2em;
			font-size: 1.2rem;
			bottom: 10%;
		}
		&-mockup {
			display: block;
		}
	}
	.pricing {
		overflow: hidden;
		background: $secondary-gradient, url('../img/16252136_rm378-07.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&__boxes {
			margin-top: 2em;
			display: flex;
			// flex-direction: row;
			justify-content: space-evenly;
			align-content: center;
			gap: 3em;
		}
		&__box {
			&-title {
				font-size: 2rem;
			}
			&-img {
				height: 400px;
				width: 500px;
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		position: relative;
		&-heading {
			font-size: 2rem;
			width: 60%;
			font-weight: 500;
		}
		&__btn {
			font-size: 0.8rem;
			bottom: 30%;
		}
	}
	.section-heading {
		font-size: 2rem;
	}

	hr {
		margin-top: 2em;
	}

	.burger-btn {
		opacity: 1;
	}

	.work {
		&__boxes {
			flex-direction: row;
			justify-content: space-evenly;
			align-items: flex-start;
			gap: 2em;
			flex-wrap: wrap;
			padding: 0 2em;
		}
		&__box {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 25%;

			&-heading {
				font-size: 1.4rem;
			}
			&-text {
				text-align: center;
				// padding: 1em;
				font-size: 1rem;
			}
			// &:nth-of-type(2) {
			// 	align-self: flex-start;
			// }
		}
	}
	.about-us {
		.lead {
			text-align: center;
			margin: 0;
		}
		&__boxes {
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
		}
	}
	.pricing {
		&__box {
			&-info {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				gap: 2em;
				&-text {
					width: 50%;
				}
			}
			&-items {
				// text-align: left;
				&-item {
					text-align: left;
				}
			}
			&-btn{
				width: 30%;
			}
		}
	}
}

.pricing {
	&__box {
		&-info {
			// display: flex;
			// flex-direction: row;
			justify-content: space-around;
			align-items: center;
			gap: 2em;
		}
	}
}

.faq {
	&__boxes {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

.accordion {
	// width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;
}
