@use '../scss/colors' as *;
@use '../scss/components' as *;

* {
	box-sizing: border-box;
	// margin: 0;
	// padding: 0;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Chillax', sans-serif;
	font-weight: 500;
}

.nav {
	z-index: 100;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;
	transform: translateY(-100%);
	filter: blur(5px);
	transition: all 0.6s;
	// overflow: hidden;

	&_items {
		height: 100%;
		width: 100%;
		background: $header-gradient, url('../img/6193293_3194926.jpg');
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
		// overflow: hidden;
	}
	&_item {
		position: relative;
		color: $viva;
		text-decoration: none;
		font-size: 1.4rem;
		text-transform: uppercase;
		font-weight: bold;
		padding: 0.5em 1em;
		transition: all 0.4s;
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;

			height: 100%;
			background-color: $viva;
			content: '';
			transform: scale(0);
			transition: transform 0.5s;
		}
		&:hover {
			color: $viva;
			scale: 1.2;
			&::after {
				// transform-origin: top;
				transform: scale(1);
			}
		}
	}
}

.active {
	transform: translateY(0);
	filter: blur(0);
	transition: 0.7s;
	// overflow: hidden;
}
.burger-btn {
	position: fixed;
	top: 20px;
	color: $viva;
	right: 10px;
	padding: 1em;
	background: none;

	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;
	// overflow: hidden;
	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
	}
	&__bars {
		width: 90%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}
.btn-bg {
	background-color: #000000;
	border-radius: 15px;
	// border: 2px solid $viva;
	// width: 100%;

	// height: 50px;
}

@keyframes navItemsAnimation {
	from {
		transform: translateY(-200%);
	}
	to {
		transform: translateY(0);
	}
}
.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;
	width: 100%;
	overflow: hidden;
	background: $header-gradient2,
		url('../img/24382419_v627-aew-25-technologybackground.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&-logo {
		// margin-top: 50px;

		background-image: url('../img/kamil.svg');
		height: 350px;
		width: 350px;
		background-position: center;
		background-size: contain;
		align-self: center;
		background-repeat: no-repeat;
		// margin-bottom: 2em;
		margin: 0;
	}

	&-heading {
		// margin: 0.2em;
		letter-spacing: -2px;
		text-transform: uppercase;
		text-align: center;
		padding: 0 2em;
		font-size: 1.4rem;
		// width: 80%;
		text-align: center;
		font-weight: 500;
		letter-spacing: 1px;
		color: $viva;
		opacity: 0;
		transition: opacity 0.8s ease-in-out; /* Fade-in effect */
		display: inline-block;
		&::after {
			content: '|'; /* Cursor character */
			opacity: 1;
			display: inline-block;
			margin-left: 2px;
			animation: blink 1s step-start infinite; /* Blinking animation */
		}
	}

	@keyframes blink {
		50% {
			opacity: 0;
		}
	}
	.fade-in {
		opacity: 1; /* Transition to full opacity */
	}
	// .cursor {
	// 	content: '';
	// 	position: absolute; /* Position cursor absolutely within the header */
	// 	left: 100%; /* Position to the right of the text */
	// 	margin-left: 2px; /* Space between text and cursor */
	// 	opacity: 1;
	// 	animation: blink 1s step-start infinite; /* Blinking animation */
	// }

	&__btn {
		position: absolute;
		bottom: 5%;
		text-decoration: none;
		border: 2px solid $viva;
		border-radius: 8px;
		padding: 1em;
		// font-size: 0.5rem;
		background: #021526;
		cursor: pointer;
		color: $viva;
		text-transform: uppercase;
		font-family: 'Chillax', sans-serif;
		letter-spacing: 2px;
		font-weight: 500;
		opacity: 1;
		transition: all 0.5s;

		&:hover {
			// scale: 1.1;
			box-shadow: 0px 2px 10px 10px $viva;
			// overflow: hidden;
		}
	}
	// .circle {
	// 	position: absolute;
	// 	width: 80px;
	// 	height: 80px;
	// 	background-color: white;
	// 	border-radius: 50%;
	// 	transform: translate(-50%, -50%) scale(0);
	// 	animation: zoom 0.5s;
	// }

	@keyframes zoom {
		to {
			transform: translate(-50%, -50%) scale(2);
			opacity: 0;
		}
	}
}

.active {
	display: block;
}
.about-us {
	overflow: hidden;
	background: $secondary-gradient, url('../img/6072180_3137227.jpg');
	background-size: contain;
	background-position: center;
	// background-repeat: no-repeat;

	border-top: 2px solid $viva;

	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// padding: 1rem;
		gap: 2em;
	}

	&__mockup {
		background-image: url('../img/phonemockup.png');
		height: 450px;
		width: 450px;
		background-position: center;
		background-size: contain;
		align-self: center;
		background-repeat: no-repeat;
	}
}

.accordion {
	width: 100%;
	margin: 1em;
	// background-color: $viva;
	border-radius: 15px;
	transition: all 0.4s;

	&-box {
		margin: 0.3em 0;
	}
	&-btn {
		padding: 1em 1em;
		width: 100%;
		font-size: 1.2rem;
		text-align: left;
		border: none;
		border-radius: 8px;

		background-color: #021526;
		color: $viva;
		// text-transform: uppercase;
		transition: background-color 0.3s;
		cursor: pointer;
		&:hover {
			background-color: $viva;
			color: #021526;
		}
		i {
			margin-right: 0.3em;
		}
	}
	&-info {
		display: none;
		padding: 1em 0.8em;
		transition: all 0.8s ease;
		&-text {
			color: #fbfdff;
			font-size: 1.2rem;
		}
	}
}
.accordion-info.active {
	display: block;
}

.work {
	overflow: hidden;
	border-top: 2px solid $main-color;
	background-color: #021526;
	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
	}
	&__box {
		padding: 0 0.5em;

		&-number {
			width: 60px;
			height: 60px;
			border: 2px solid $viva;
			color: $viva;
			border-width: 3px;

			// margin-bottom: 0 1em;
			font-size: 1.4rem;
			line-height: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
		}
		&-heading {
			text-transform: uppercase;
			color: $viva;
		}
		&-text {
			font-size: 1.2rem;
			color: white;
		}
	}
}

.self-assesment {
	overflow: hidden;
	background-color: rgb(2, 21, 38);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	border-top: 2px solid $viva;
	border-bottom: 2px solid $viva;
	&__main {
		&__box {
			padding: 0 0.3em;

			&-heading {
				font-size: 1.6rem;
				color: $viva;
				margin: 0;
				text-transform: uppercase;
				// font-weight: 500;
				// text-align: center;
			}
		}
	}
}
.pricing {
	overflow: hidden;
	background: $secondary-gradient, url('../img/6072180_3137227.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		gap: 2em;
	}
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 0.5em;
		&-title {
			// border-bottom: 2px solid $viva;

			margin: 1em;
			text-align: center;
			// margin-top: 1em;
			color: $viva;
			font-size: 1.6rem;
		}
		&-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			padding: 0.5em;
			font-size: 1rem;
			color: white;
			// text-align: center;
			margin: 0;
			// width: 100%;
		}

		&-price {
			color: $viva;
			font-size: 1.6rem;
			text-transform: uppercase;
			text-align: center;
			font-weight: 600;

			letter-spacing: 1px;
		}
		&-items {
			padding: 0.3em 0;
			display: flex;
			flex-direction: column;
			list-style: none;
			&-item {
				padding: 0.5em 0;
				color: $viva;
				text-align: center;
				// border-bottom: 1px solid $gray;
				text-transform: uppercase;
			}
		}
		&-img {
			margin: 1em;
			background-position: center;
			background-size: contain;
			align-self: center;
			background-repeat: no-repeat;
			width: 300px;
			height: 200px;
			transition: all 0.4s;

			&--first {
				background-image: url('../img/web-designing-template.png');
			}
			&--second {
				background-image: url('../img/NicePng_responsive-web-design-png_2545629.png');
			}
		}
		&-btn {
			padding: 0.8em 2em;
			background-color: #021526;
			border: 2px solid $viva;
			color: $viva;
			// border: none;
			border-radius: 8px;
			cursor: pointer;
			transition: transform 0.4s;
			letter-spacing: 2px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 3px;

			&:hover {
				background-color: $viva;

				color: #021526;
				transform: scale(1.1);
			}
		}
	}
}
hr {
	width: 100%;
	color: $viva;
}

.reviews {
	background: $secondary-gradient, url('../img/architecture-2256489_1920.jpg');
	border-top: 2px solid $viva;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&__box {
		background-color: #021526;
		position: relative;
		margin: 2em;
		padding: 1em;
		border-radius: 8px;
		// box-shadow: 13px 13px 13px #0797862e;
		// background-color: $light-blue-gradient;
		transition: all 0.4s;
		&:hover {
			transform: scale(0.9);
		}
		&-img {
			position: absolute;

			top: 8%;
			left: 75%;
			transform: translate(-50%, -50%);
			img {
				width: 80px;
				height: 80px;
				object-fit: cover;
				border-radius: 50%;
			}
		}

		&-quote {
			margin-bottom: 1em;
			font-size: 2rem;
			color: $main-color;
		}
		&-text {
			margin-bottom: 1em;
			font-size: 1.2rem;
			color: $viva;
		}
	}
}

.faq {
	border-top: 2px solid $viva;
	border-bottom: 2px solid $viva;
	background-color: #021526;
}

.footer {
	background-color: $viva;
	&__text {
		text-align: center;
		font-size: 1.4rem;
	}
	&__year {
		margin-right: 0.5em;
	}
}
